<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <!--
        Set instead in the different TestCase abstract classes when booting the kernel,
        as all test suites do not use the same environment

        <server name="APP_ENV" value="test" force="true"/>
        -->
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.6"/>
    </php>

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>

        <testsuite name="Acceptance Tests">
            <directory>tests/Acceptance</directory>
        </testsuite>

        <testsuite name="Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>

        <testsuite name="End-to-End Tests">
            <directory>tests/EndToEnd</directory>
        </testsuite>
    </testsuites>

    <extensions>
    </extensions>
</phpunit>
